<header class="site-header">
  <h1>JetlagUK Rules</h1>
  <nav>
    <ul>
      <li><a href="/rules-standard-small.md">Small</a></li>
      <li><a href="/rules-standard-medium.md">Medium</a></li>
      <li><a href="/rules-standard-large.md">Large</a></li>
    </ul>
  </nav>
</header>
