<header class="site-header">
  <h1>JetlagUK Rules</h1>
  <nav>
    <ul>
      <li><a href="/rules-standard-easy.md">Easy</a></li>
      <li><a href="/rules-standard-medium.md">Medium</a></li>
      <li><a href="/rules-standard-hard.md">Hard</a></li>
    </ul>
  </nav>
</header>
