<header class="site-header">
  <h1>JetLag UK and Ireland</h1>
  <nav class="navbar">
    <ul class="nav">
      <li class="nav-item dropdown">
        <a href="#" class="dropdown-toggle">Hide and Seek</a>
        <ul class="dropdown-menu">
          {% for unit in units %}
            <li class="dropdown-submenu">
              <a href="#" class="dropdown-toggle">{{ unit.name | capitalize }}</a>
              <ul class="dropdown-menu">
                {% for size in sizes %}
                  <li>
                    <a href="/hns-briefing-{{ size.name }}-{{ unit.name }}.html">
                      {{ size.name | capitalize }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </nav>
</header>
